<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head ">
<meta charset="UTF-8">
<title>Sobre nosotros</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>

	<h2 style="text-align: center;">Evosoft</h2>

	<div class="conteiner mt-5" style="text-align: center;">Evosoft
		hace referencia a las palabras “Evolution Software”, que significa
		“Software de evolución”, que da a entender que con Guife no solo vas a
		tener una vida más ordenada, si no que te va a guiar por el camino
		para ser una persona más responsable y cuidadosa de sí misma por medio
		de su inteligencia artificial, la cual te avisa cuando tu alimentación
		tenga que cambiar o si tienes una cita importante.</div>

	<div class="container">
		<div class="card-group mt-5">
			<div class="card text-center border-info">
				<div class="card-body">
					<h4 class="card-title">Misión</h4>
					<p class="card-text">Nuestra misión es brindar a las personas
						orden y una buena gestión del tiempo, no solo en sus estudios si
						no en sus vidas. Evosoft busca satisfacer a los clientes y
						asegurar la organización en sus horarios, alimentación, etc. Con
						el lanzamiento de Guife serán capaces de asistir a todas las citas
						y/o clases que tengan, mejorar la alimentación, crear una nueva
						rutina de vida, y muchas cosas más.</p>
				</div>
			</div>

			<div class="card text-center border-info">
				<div class="card-body">
					<h4 class="card-title">Visión</h4>
					<p class="card-text">Convertirnos en una app confiable para
						millones de usuarios y así lograr solucionar el gran problema de
						algunas personas, el cual es organizar su tiempo y así tener un
						país libre de enfermedades mentales causadas por el estrés de los
						horarios.</p>

				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="card-group mt-5">
			<div class="card text-center border-info">
				<div class="card-body">
					<img alt="" th:src="@{/images/luigi.jpeg}" height="250px"
						width="250px" />
					<h4 class="card-title">Luigui Martin Mejia Mendoza</h4>
					<p class="card-text">Tengo 20 años, soy estudiante de la
						carrera de Ingeniería de Sistemas de información de la Universidad
						de Ciencias Aplicadas.</p>
					<p class="card-text">Acerca de mí: En mi tiempo libre dibujo,
						leo y me gusta tocar con mis instrumentos, me gusta la música, la
						filosofía y la fantasía. y a veces me gusta averiguar más sobre mi
						carrera y sus áreas.</p>
				</div>
			</div>

			<div class="card text-center border-info">
				<div class="card-body">
					<img alt=""
						th:src="@{/images/marlon.jpeg}"
						height="250px" width="250px" />
					<h4 class="card-title">Marlonn Miguel Sandoval Gamarra</h4>
					<p class="card-text">Tengo 18 años, soy estudiante de la
						carrera de Ingeniería de Sistemas de información de la universidad
						de Ciencias Aplicadas.</p>
					<p class="card-text">Acerca de mí: En mis ratos libres me gusta
						jugar videojuegos, pasarla bien con mis amigos y escuchar música.</p>
				</div>
			</div>

			<div class="card text-center border-info">
				<div class="card-body">
					<img alt="" th:src="@{/images/sergio.jpeg}" height="250px"
						width="250px" />
					<h4 class="card-title">Sergio Andres Mego Peñaranda</h4>
					<p class="card-text">Mis pasatiempos son programar aplicaciones
						y diseñar pagina web.</p>
					<p class="card-text">En mi equipo, me comprometo a dar todo de
						mí, escuchar las ideas de los demás integrantes y con ello definir
						la mejor solución.</p>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="master/master  ::  footer"></footer>

</body>
</html>