<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master:: head"></head>
<meta charset="UTF-8">

</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<hr style="color: #fdfdfd"></hr>
		<div
			style="font-family: 'Roboto Condensed', sans-serif; font-size: 150%"
			align="center">Lista de Usuarios</div>

		<hr style="background-color: #FA251B"></hr>
		<hr style="color: #fdfdfd">

		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>
							<th style="font-family: 'Roboto Condensed', sans-serif;">Id</th>
							<th style="font-family: 'Roboto Condensed', sans-serif;">Username
							</th>
							<th style="font-family: 'Roboto Condensed', sans-serif">Estado
							</th>
						</tr>
					</thead>
					<tbody id="users-list">
						<tr th:each="user:${listaUsuarios}">
							<td th:text="${user.id}"></td>
							<td th:text="${user.username}"></td>
							<td th:text="${user.enabled}"></td>
						</tr>

					</tbody>

				</table>
			</div>
		</div>
	</div>
</body>

<div align="right">
	<footer th:replace="master/master::footer"></footer>
</div>
</html>